<section class="block {{block.layout}}"
     id="{{block.id}}" 
     ui-sref-active="active" class="active" 
     ng-class="{selected: block.selected, 
     expanded:block.expanded}">

    <header class="block-header">

      <a ng-show="!block.selected" 
         class="state-link"
         ng-click="toggleExpanded()"
         ng-href="{{block.url}}">

        <img ng-src="{{block.headerImage.url}}"/>

        <h1>{{block.title}}</h1>

      </a>
      <a ng-show="block.selected" 
         class="expansion-link"
         ng-click="toggleExpanded()">
        <img ng-src="{{block.headerImage.url}}"/>

        <h1>{{block.title}}</h1>

      </a>
    </header>

    <ng-switch on="block.layout">
      <article ng-switch-when="pilot"
           class="block-content">
        <h1>{{block.title}}</h1>
        <section class="sidebar hidden-xs col-sm-4 col-lg-2">
          <nav class="toc">
            <table class="table">
              <thead>
                <th>Contents</th>
                <tr ng-repeat="block in blocks">
                  <td><a ng-href="{{block.url}}">{{block.title}}</a></td>
                </tr>
              </tr>
              </thead>
            </table>
          </nav>

          <!-- <img src="./images/angeliki&#45;in&#45;action.jpg"></img> -->

        </section>

        <section ng-bind-html="block.content | markdown" 
                 class="col-xs-12 col-sm-7 col-sm-offset-1 col-lg-6 col-lg-offset-2 csSlideUp">
        </section>
      </article>

      <article ng-switch-default
               class="block-content">
        <h1>{{block.title}}</h1>
        <section ng-bind-html="block.content | markdown" 
                 class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-2 csSlideUp">
        </section>
          

        <section class="meta col-xs-12 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-2">
          <table class="table">
            <thead>
              <th>Meta</th>
            </thead>
            <tr ng-repeat="author in block.authors">
              <td>{{author}}</td>
            </tr>
          </table>
        </section>
      </article>
    </ng-switch>

  </div>
</section>
