<section class="block {{block.layout}}"
     id="{{block.id}}" 
     ui-sref-active="active" class="active" 
     ng-class="{selected: block.selected, 
     expanded:block.expanded}">

    <header class="block-header">

      <a ng-show="!block.selected" 
         class="state-link"
         ng-click="toggleExpanded()"
         ng-href="{{block.url}}">

        <img ng-src="{{block.headerImage.url}}"/>

        <h1>{{block.title}}</h1>

      </a>
      <a ng-show="block.selected" 
         class="expansion-link"
         ng-click="toggleExpanded()">
        <img ng-src="{{block.headerImage.url}}"/>

        <h1>{{block.title}}</h1>

      </a>
    </header>

    <ng-switch on="block.layout">

      <article ng-switch-when="profiles"
           class="block-content">

        <h1>{{block.title}}</h1>

        <nav class="meta hidden-xs col-sm-3 col-sm-offset-0 col-lg-2 col-lg-offset-0">
          <table class="table">
            <tr ng-repeat="block in blocks">
              <td><a ng-href="{{block.url}}">{{block.title}}</a></td>
            </tr>
          </table>
        </nav>

        <section class="profiles col-xs-12 col-sm-7 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-8 col-lg-offset-1 csSlideUp">
          <section class="profile col-xs-12 col-lg-6" ng-repeat="person in block.people">
            <img ng-src="{{person.picture.url}}"></img>
            <div ng-bind-html="person.profile | markdown"></div>
          </section>
        </section>

      </article>

      <article ng-switch-when="pilot"
           class="block-content">

        <h1>{{block.title}}</h1>

        <nav class="meta hidden-xs col-sm-3 col-sm-offset-0 col-lg-2 col-lg-offset-0">
          <table class="table">
            <tr ng-repeat="block in blocks">
              <td><a ng-href="{{block.url}}">{{block.title}}</a></td>
            </tr>
          </table>
        </nav>

        <section ng-bind-html="block.content | markdown" 
                 class="main-text col-xs-12 col-sm-7 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-5 col-lg-offset-1 csSlideUp">
        </section>

        <section class="sidebar right hidden-xs hidden-sm hidden-md col-lg-3 col-lg-offset-1">
          <div ng-repeat="image in block.sideImages" class="col-lg-10 col-lg-offset-0">
            <img ng-src="{{image.url}}"></img>
          </div>
        </section>
      </article>

      <article ng-switch-default
               class="block-content">
        <h1>{{block.title}}</h1>

        <section class="sidebar left hidden-xs hidden-sm hidden-md col-lg-3">
          <div ng-repeat="image in block.sideImages" class="col-lg-8 col-lg-offset-1">
            <img ng-src="{{image.url}}"></img>
          </div>
        </section>

        <section ng-bind-html="block.content | markdown" 
                 class="main-text col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-0 csSlideUp">
        </section>
          

        <section class="meta col-xs-12 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1">
          <table class="table">
            <thead>
              <th>Meta</th>
            </thead>
            <tr ng-repeat="author in block.authors">
              <td>{{author}}</td>
            </tr>
          </table>
        </section>
      </article>
    </ng-switch>

  </div>
</section>
