@mixin article-title($fontsize, $leading: 2, $leader: 2, $padding-leader: 1, $padding-trailer: 1, $trailer: 2){
    padding-left: 0.4em;
    padding-right: 0.4em;
    // border-right: solid $brand-primary 10px;

    @include negative-colors;

    @include adjust-font-size-to($fontsize);
    @include adjust-leading-to($leading, $fontsize);

    @include rhythm($leader, $padding-leader, $padding-trailer, $trailer, $fontsize); 
};

.block-content {
  display: none;

  div {
    margin-bottom: 80px;
  }


  h1 {
    @include article-title(30px, 1, 1, 1, 1, 1);
  }


  h2 {
    @include adjust-font-size-to(21px);
    @include rhythm(2, 0, 0, 1, 21px); 
  }

  h3 {
    @include adjust-font-size-to(18px);
  }
  
  p {
    @include adjust-font-size-to(14px);
    @include trailer(1);
  }

  section {
    @include trailer(4);
  }


  blockquote {
    padding-left: 3em;
    padding-right: 3em;
    font-family: 'NittyBold';
    @include negative-colors;
    @include adjust-font-size-to(16px);
    @include leader(1, 16px);
    @include trailer(1, 16px);
    @include padding-leader(1, 16px);
    @include padding-trailer(1, 16px);
    border-left: solid $colorBlue 6px;
  }

  ol {
    font-family: 'NittyBold';
    padding-left: 5.2em;
    padding-right: 3em;
    @include negative-colors;
    @include adjust-font-size-to(16px);
    @include padding-leader(1, 16px);
    @include padding-trailer(1, 16px);
    @include leader(1, 16px);
    @include trailer(1, 16px);
    list-style: decimal outside none;
    border-left: solid $colorBlue 6px;

    p {
      @include trailer(0);
    }
  }

  #test {
    position: relative;
  }
  video, canvas {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    border: solid black 8px;
  }

  video {
    height: 100%;
    position: absolute;
  }

  img {
    padding: 0;
    width: 100%;
    border: solid black 8px;
  }

  a {
    display: inline-block;
    padding: 0.1em 0.4em;
    @include negative-colors;

    &:hover {
      background-color: $brand-primary;
      color: black;
      text-decoration: none;
    }
  }

  .sidebar {
    padding: 0;
  }

  .meta {
    @include leader(3);
    display: block;
    font-family: NittyBold;
    padding: 20px;
    background-color: black;
    text-align: center;

    table {
      border-color: $brand-primary;
    }


    th, td {
      @include adjust-font-size-to(12px);

      color: white;
      border-color: white;
    }

    tr:first-child {
      td {
        border-top: none;
      }
    }
  }
  .sidebar {
    img {
      width: 100%;
    }
  }

  .toc {
    th, td {
      width: 100%;
      @include adjust-font-size-to(10px);
      text-align: left;

      a {
        color: black;
        background-color: white;
        width: 100%;
        height: 100%;
      }

    }

    td:hover {
      background-color: $brand-primary;
      a {
        background-color: $brand-primary;
      }
    }
  }

  @media(min-width: $screen-sm-min) {
    h1 {
      @include article-title(40px);
    }


  }

  @media(min-width: $screen-md-min) {
    h1 {
      @include article-title(50px);
    }
  }

  @media(min-width: $screen-lg-min) {
    .meta {
      th, td {
        @include adjust-font-size-to(14px);
        color: white;
      }
    }
    h1 {
      @include article-title(80px, 3, 3, 2, 2, 4);
    }


    p {
      @include adjust-font-size-to(24px);
      @include adjust-leading-to(1.5, 24px);
    }

    .main-text {
      img {
        display: none;
      }
    }
  }

}
