@mixin negative-colors {
  background-color: black;
  color: white;
}

@import './_block-header.scss';
@import './_block-content.scss';


.block {
  margin-bottom: 0px;
  position: relative;
  clear: both;

  h1, h2, h3 {
    font-family: NittyBold;
  }

  &.selected {
    header {
      &:hover { 
        .selector {
          opacity: 0;
        }
      }
    }
  }

  &.expanded {
    .block-content {
      display: block;
    }

    header {
      h1 {
        opacity: 0;
      }
    }
  }
}
