.block-header {
  clear: both;
  position: relative;
  width: 100vw;
  height: auto;
  margin: 0 0 0 0;


  h1 {
    @include negative-colors;
    @include adjust-font-size-to(16px);
    @include padding-leader(0);
    @include padding-trailer(0);
    padding-left: 0.5em;
    padding-right: 0.5em;
    user-select: none;
    position: absolute;
    left: 0px;
    bottom: 0.6em;
    margin: 0;
    width: 100%;
    opacity: 0.4;
  }

  img {
    width: 100vw;
    height: auto;
    display: block;
  }

  .selector {
    display: block;
    opacity: 0;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $brand-primary;
  }

  &:hover {
    h1 {
      color: white; 
      opacity: 0.9;
    }
  }

  @media(min-width: $screen-sm-min) {
    h1 {
      @include adjust-font-size-to(21px);
      @include padding-leader(0.5, 21px);
      @include padding-trailer(0.5, 21px);
      bottom: 1em;
    }
  }


  @media(min-width: $screen-lg-min) {
    h1 {
      @include adjust-font-size-to(24px);
      @include padding-leader(0.5, 24px);
      @include padding-trailer(0.5, 24px);
      bottom: 2em;
    } 
  }


}
