body {
  top: -100vh;
  transition: top 1s ease;
}

body.header-on-screen {
  top: 0;
}

.site-header {
  .logo {
    width: 100vw;
    height: 100vh;
    background-color: $brand-primary;
  }

  .navbar {
    bottom: 0;
    margin: 0;
    font-family: NittyBold;
    border: none;

    ul {
      @include stretch;
    }

    li {
      width: 25%;
      text-align: center;
      overflow: hidden;
    }
  }
}
