@font-face {
  font-family: NittyNormal;
  src: url('../fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  src: url('../fonts/NB.woff') format('woff');
}

$base-line-height: 1.6 !default; // 20/14

$colorYellow: #E5CF39 !default;
$colorGrayDark: #404040 !default;
$colorBlue: #75C7B3 !default;
$colorGreen: #A5CC45 !default;
$colorRed: #E34D2F !default;
$colorGrayLight: #eeeeee !default;

$siteColors: $colorGreen, $colorRed, $colorYellow, $colorBlue;

$brand-primary: $colorBlue;
$brand-secondary: $colorYellow;

$list-group-bg: black;
$list-group-border: none;
$list-group-active-bg: $brand-secondary !default;
$list-group-active-color: black !default;

$list-group-border-radius: 0;

$navbar-inverse-color: black;
$navbar-height: 100px;
$navbar-inverse-bg: black;
$navbar-inverse-link-color: white;
$navbar-inverse-link-active-color: $colorGrayDark;
$navbar-inverse-link-active-bg: $brand-secondary;

$grid-float-breakpoint: 0;

$brand-primary: $colorBlue !default;

$font-family-monospace: NittyNormal, Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-monospace !default;

$base-font-size: 16px;
$base-line-height: 32px;
$round-to-nearest-half-line: true;

@import "compass";
@import "compass/layout/stretching";

@import "./_normalize.css";
@import "./bootstrap/bootstrap";

@import "./_block.scss";
@import "./_pilot.scss";

@import "./_profiles.scss";
@import "./_site-logo.scss";

@include establish-baseline;


// html,
.container-fluid {
  width: 100vw;
  margin: 0;
  padding: 0;
  position: relative;
}

.content {
  position: relative;
  &.open {
    left: 250px;
  }
}
